body {
  background-color: white;
}

#coder {
  font-size: 2rem;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#img-container {
  width: 55%;
  height: 50vh;
  margin: 20px;
  margin-top: 20%;
}

#text-container {
  margin: 5px;
  width: 45%;
}

img {
  width: 100%;
  height: 100%;
}

#child-text {
  font-size: 5rem;
  color: blue;
}

#adult-text {
  font-size: 5rem;
  color: red;
}

#old-text {
  font-size: 5rem;
  color: green;
}
